/*stretch to whole page*/
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter,Arial, Helvetica, sans-serif;
}

/*Css for Navigation*/
/*Changes the navigation background colour,padsit and changes display type to flex(which changes the nav menu if you are on
mobile or monitor)*/
nav
{
    background-color: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


/*Changes size of Home logo and link to home*/
#home
{   
    width : 160px;
    height : 25px; 
    margin-right: 5rem;
    margin-left: 2rem;
}

/*changes most of the link text colours,margins,style and colour when hovered or pressed*/
.nav2
{ 
    margin-right: 20px;
    margin-top: 5px;
    color: black;
    text-decoration: none;
}
.nav2:hover
{
    color: darkgray;
    transition: 0.1s ease-out;
}
.nav2:active
{
    color: gray;
}

/**changes login text location,colours,margins,style and colour when hovered or pressed*/
#login
{
    margin-left: auto;
    order: 2;
    margin-right: 20px;
    margin-top: 5px;
    color: black;
    text-decoration: none;
}
#login:hover
{
    color: darkgray;
    transition: 0.1s ease-out;
}
#login:active
{
    color: gray;
}

/**changes signup text location,colours,margins,style and colour when hovered or pressed
as well as the border around the sigunp*/
#signup
{
    order: 2;
    border: 1.5px solid black;
    border-radius: 10px;
    padding: 5px 10px 5px;
    color: black;
    text-decoration: none;
}
#signup:hover
{
    color: darkgray;
    transition: 0.1s ease-out;
}
#signup:active
{
    color: gray;
}

#msignup{display: none;}
/*Css for footer*/
/*changes footer background and text colour, padding,centers content.
 display type to flex to work with mobile.*/
footer
{
    background-color: black; 
    color: white;
    padding-top: 50px;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/*Display set to flex to create columns and margin right for spacing*/
.footerheading
{
    display: flex;
    flex-direction: column;
    margin-right: 65px;
}

/*Logo size and margins*/
#logo
{
    width:160px;
    height:25px;
    margin-right: 15rem;
    margin-top: 2rem;
    margin-left: 10rem;
}

/*heading sizes for footer*/
.footerheading h2
{
    margin-bottom: 1rem;
}


/*Changes colour,style and margin for text below headings*/
.footerheading ul
{
    list-style: none;
}
.footerheading li
{
    margin-bottom: 15px;
}
.footerheading a
{
    color: #ffffff;
    text-decoration: none;
}
.footerheading a:hover
{
    color: lightgray;
    transition: 0.1s ease-out;
}
.footerheading a:active
{
    color: darkgray;
}


/*Changes size and margin of input field for newsletter*/
#newsletter
{
    height: 2rem ;
    width: 15rem;
    margin-bottom: 20px;
    border-radius: 10px;
    border-style: solid;
    border-color: lightgrey;
    border-width: 1.5px;
}

/*Changes button size,padding and colour as well as border style for button*/
#button
{
    padding:5px 5px 7px;
    border-radius: 10px;
    border-style: solid;
    border-color: lightgrey;
    background-color: #d3e3e3;
    border-width: 1px;
    font-size: 1rem;
    margin-left: -20%;
}
#button:active
{
    background-color: #94a0a0;
}

/*Changes the width and height of the socials*/
.socials
{
    width: 1.5rem;
    height: 1.5rem;
}

/*specifically changes link size for the twitter/instagram size*/
.footer-4
{
    margin: auto;
}
.footer-4 a
{
    width: 1rem;    
}

/*Copyright css*/
/*Changes the text colours,font size, margins of the copyrights and also changes the colour
 of the link and link style*/
#rights
{
    color: gray;
    font-size: 0.8rem;
    margin:auto;   
}
#rights a
{   
    color:gray;
    text-decoration: none;
}

.how{height: auto;
    width: auto;
    background: white;
    padding: 4em 0em 4em 0em;
    text-align: center;
}

.how-header{color: black;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.5em;
}

#wrapper2 {width: 90%;
    margin: auto;
} 

.how-container{display: flex;
    width: auto;
}

.how-row{display: flex;
        flex-flow: row;
        justify-content: space-around;
        height: auto;
        margin-bottom: 5rem;
}

.how-col{background: #F9F9F9;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 10px;
}

.how-col p{color: black;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-size: 2rem;
        padding: 0px 50px 50px 50px;
}

.how-col h1{color: rgba(255, 68, 0, 0.76);
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 6rem;
    padding: 50px 50px 0px 50px;
}

.questions{background-color: #D7E4E3;
        height:auto;
        width: auto;
        text-align: center;
}

.questions h1{font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 5rem;
    padding-top: 10rem;
    padding-bottom: 2rem;
}

.support-btn{display: inline-block;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 2.2rem;
    color: black;
    padding: 1rem;
    margin-bottom: 10rem;
    text-decoration: none;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
}

/*for tablets*/
@media only screen and (max-width: 1024px) 
{
    *
    {
        font-size: large;
    }
    #logo{margin: auto}
    #newsletter
    {
        font-size: .8rem;
        width: 10rem;
        border-radius: 5px;
    }
    #button
    {   padding: 5px;
        margin: auto;
        border-radius: 5px;
    }
    .footer-4
    {
        margin: auto;
    }
    #rights
    {
        padding-top: 1rem;
        margin:auto
    }

    .how-header{font-size: 4rem;
        margin: 2em 0em 2em 0em;
    }

    .how-row{display: flex;
        flex-flow: column;
        justify-content: space-around;
        height: auto;
        margin-bottom: 5rem;
    }

    .how-col p{font-size: 2rem;
        padding: 0px 50px 50px 50px;
    }

    .questions h1{font-size: 3rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .support-btn{font-size: 1rem;
    }
}
/*for Phones*/
@media only screen and (max-width: 768px) 
{
    #home
    {
        margin:auto;
        width:auto;
    }
    nav
    {
        flex-direction: column;
    }
    .nav2
    {
        border-top: black;
        padding:.5rem 0rem .5rem;
        margin:auto;
        font-size: 2rem;
    }
    #logo
    {
        margin: auto;
    }
    #login
    {
        padding:.5rem 0rem .5rem;
        order: initial;
        margin: auto;
        font-size: 2rem;
    }
    #signup
    {
        display: none;
    }
    #msignup
    {
        padding:.5rem 0rem .5rem;
        display: inline;
        font-size: 2rem;
        margin: auto;
        color: black;
        text-decoration: none;
    }
    #msignup:hover
    {
        color: darkgray;
        transition: 0.1s ease-out;
    }
    #msignup:active
    {
        color: gray;
    }
    #newsletter
    {
        font-size: .8rem;
        width: 10rem;
        border-radius: 5px;
    }
    #button
    {   padding: 5px;
        margin: auto;
        border-radius: 5px;
    }

    #logo
    {
        margin-bottom: 1rem;
    }

    .footerheading
    {
        padding: .8rem;
    }
    .footer-4
    {
        margin: auto;
        
    }
    .footer-4 h3
    {
        padding-bottom: .5rem;
    }
    .footer-4 a
    {
        margin-bottom: 1rem;
    }
    .socials
    {
        width: 2rem;
        height: 2rem;
    }

    .how-header{font-size: 3.5rem;
        margin: 2em 0em 2em 0em;
    }

    .how-row{display: flex;
        flex-flow: column;
        justify-content: space-around;
        height: auto;
        margin-bottom: 5rem;
    }

    .how-col p{color: black;
        font-family: 'Inter', sans-serif;
        font-style: normal;
        font-size: 1.5rem;
        padding: 0px 50px 50px 50px;
    }

    .questions h1{font-size: 3rem;
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .support-btn{font-size: 1rem;
    }




}