/*stretch to whole page*/
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter,Arial, Helvetica, sans-serif;
}

#deco
{
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
#stair
{
    position: absolute;
    z-index: -1;
    width: 388.66px;
    height: 331.29px;   
    left: 15%;
    top: 0%;
}
#hbox
{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 250px;   
    left: 18%;
    top: 50%;
}
#oval
{
    position: absolute;
    z-index: -1;
    width: 349.66px;
    height: 190.29px;
    left: 70%;
    top: 10%;
    
}
body
{
    height: 100%;
    background-color: black;   
}

nav{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#logo
{   
    width : 160px;
    height : 25px; 
    margin-left: 2rem;
}

#mainbox
{
    text-align: center;
    margin: auto;
    width: 50%;
    height: auto;
    padding: 1rem 1rem 5rem;
    border-style:none;
    border-radius: 8px;
    background-color: white;
}

#wrap
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#mainbox h1
{
    padding: 2rem 2rem 1rem;
}
#mainbox p
{
    padding:1rem 2rem 1.5rem;
    color: gray;
}

#box
{
    
    width: 25rem;
}
#login
{   
    width:100%;
    border: grey 1px solid;
    border-radius: 5px;
    padding:.5rem;
    margin-bottom: 1rem;
}

#button
{
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 10px 15px 10px;
}

footer
{
    color: rgb(214, 214, 214);    
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}
footer span
{
    color: white;
}
footer ul
{   margin-top: 1.5rem;
    margin-right: 1rem;
    list-style: none;
}
footer a
{
    text-decoration: none;
    color: white;
    border: yellow solid 1px;
    border-radius: 5px;
    padding: 8px 15px 10px;
}

@media only screen and (min-width: 1600px)
{
    *
    {
        font-size: x-large;
    }
    #logo
    {
        width: 320px;
        height: 50px;
    }
}
@media only screen and (min-width: 2060px)
{
    *
    {
        font-size: xx-large;
    }
    
}

@media only screen and (max-width: 1280px)
{
    #deco
    {
        width: 75%;
        height: 80%;
    }
    *
    {
       font-size:medium;
    }
    
}
@media only screen and (max-width: 768px)
{

    #deco
    {
        display: none;
    }
   *
   {
       font-size: small;
   }
}