/*stretch to whole page*/
*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter,Arial, Helvetica, sans-serif;
}

#deco
{
    display: block;
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}
#corner
{
    position: absolute;
    z-index: -1;
    width: 200px;
    height: 200px;   
    left: 65%;
    top: 15%;
}
#foval
{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 250px;   
    left: 20%;
    top: 15%;
}
#semisquare
{
    position: absolute;
    z-index: -1;
    width: 225px;
    height: 225px;
    left: 70%;
    top: 60%;
    
}
body
{
    height: 100%;
    background-color: rgb(0, 0, 0);   
}

nav{
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
#logo
{   
    width : 160px;
    height : 25px; 
    margin-left: 2rem;
}

#mainbox
{
    text-align: center;
    margin: auto;
    width: 50%;
    height: auto;
    padding: 1rem 1rem 5rem;
    border-style:none;
    border-radius: 8px;
    background-color: white;
}

#wrap
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

#mainbox h1
{
    padding: 2rem 2rem 1rem;
}
#mainbox p
{
    padding:1rem 2rem 1.5rem;
    color: gray;
}

#box
{
    
    width: 25rem;
}
#signup
{   
    width:100%;
    border: grey 1px solid;
    border-radius: 5px;
    padding:.5rem;
    margin-bottom: 1rem;
}
#fname
{   
    width:49%;
    border: grey 1px solid;
    border-radius: 5px;
    padding:.5rem;
    margin-bottom: 1rem;
    margin-right: 3px;
}
#lname
{   
    width:49%;
    border: grey 1px solid;
    border-radius: 5px;
    padding:.5rem;
    margin-bottom: 1rem;
}

#button
{
    background-color: black;
    color: white;
    border-radius: 8px;
    padding: 10px 15px 10px;
}

footer
{
    color: rgb(255, 255, 255);    
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    text-align: left;
}
footer ul
{   margin-top: 1.5rem;
    margin-right: 1rem;
    list-style: none;
}
footer a
{
    text-decoration: none;
    color: white;
    border: yellow solid 1px;
    border-radius: 5px;
    padding: 8px 15px 10px;
}

@media only screen and (min-width: 1600px)
{
    *
    {
        font-size: x-large;
    }

    #logo
    {
        width: 320px;
        height: 50px;
    }
}
@media only screen and (min-width: 2060px)
{
    *
    {
        font-size: xx-large;
    }
    #deco
    {
    display: none;
    }
}

@media only screen and (max-width: 1280px)
{
    *
    {
       font-size:medium;
    }
    #deco
    {
       display: none;
    }
}
@media only screen and (max-width: 768px)
{
   *
   {
       font-size: small;
   }
}