*
{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Inter,Arial, Helvetica, sans-serif;
}
#fcloud
{
    position: absolute;
    z-index: 1;
    top:240px;
    left: 900px;
}
#semi2
{
    position: absolute;
    left:1000px;
    top:20px;
    z-index: 3;
}
#foval
{
    z-index: 2;
    position: absolute;
    top:20px;
    left: 830px;
}
#semisquare
{
    position: absolute;
    left: 1150px;
    top: 300px;
}
#logo
{   
    width : 160px;
    height : 25px; 
    margin-left: 2.65rem;
    margin-top: 0.65rem;
}

html,body
{
    display: flex;
    flex-direction: row; 
    flex-wrap:wrap;
    height: 100%;
    width: 100%;
}
nav
{
    background-color: white;
    padding-bottom: 1rem;
    width: 50%;
    height: 10%;
}
#empty
{
    background-color: black;
    width: 50%;
    height: 10%;
}
#left
{   
    text-align: center;
    background-color: white;
    width: 50%;
    height: 90%;
    padding:5rem;
}
#right
{   
    color: white;
    background-color: black;
    width: 50%;
    height: 90%;
}

#left h1
{
    font-size: 3rem;
    margin-bottom: 5rem;
}
#fname
{
    width: 40%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: .5rem 1rem .5rem;
}
#lname
{
    width: 39%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: .5rem 1rem .5rem;
}
#client
{
    width: 80%;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: .5rem 1rem .5rem;
}
#support
{
    width: 80%;
    height: 10rem;
    border-radius: 5px;
    padding: .5rem 1rem .5rem;
    margin-bottom: 2rem;
}

#box #button
{
    display: flex;
    justify-content: left;
    padding: .5rem 1rem .5rem;
    border-radius: 8px;
}
#button
{
    margin-left: 4rem;
    color: white;
    background-color: black;
}
/*for tablets*/
@media only screen and (max-width: 1280px) 
{
    
    #empty
    {
        display: none;
    }
    #right
    {
        display: none;
    }
    nav
    {
        height: 20%;
    }
    #left
    {
        width: 100%;
        height: 80%;
    }
    #button
    {
        margin:auto;
    }
}
/*for Phones and smaller phones*/
@media only screen and (max-width: 768px) 
{
    *{font-size: small;}
}
@media only screen and (max-width: 500px) 
{
    nav
    {
        height: 30%;
    }
    #left
    {
        height: 70%;
    }
    *{font-size: smaller;}
}

/*for any screen bigger than 1600px*/
@media only screen and (min-width: 1600px)
{
    *
    {
        font-size: large;
    }
    #fcloud
    {
        position: absolute;
        z-index: 1;
        top:340px;
        left: 1100px;
    }
    #semi2
    {
        position: absolute;
        left:1300px;
        top:120px;
        z-index: 3;
    }
    #foval
    {
        z-index: 2;
        position: absolute;
        top:120px;
        left: 1030px;
    }
    #semisquare
    {
        position: absolute;
        left: 1350px;
        top: 400px;
    }
}
@media only screen and (min-width: 1930px) 
{
    #fcloud
    {
        display: none;
    }
    #semi2
    {
        display: none;
    }
    #foval
    {
        display: none;
    }
    #semisquare
    {
        display: none;
    }
}